In [45]:
import pandas as pd
import numpy as np

In [46]:
data = {
    "NOMBRE": ["Maria", "Jose", "David", "Ivan"],
    "CAREER": ["Auditoria", "Informatica", "Derecho", "Idiomas"],
    "EMAIL": ["maria@gmail.com", "jose@gmail.com", "david@gmail.com", "ivan@gmail.com"]
}

In [47]:
df = pd.DataFrame(data)

In [48]:
print(df)

  NOMBRE       CAREER            EMAIL
0  Maria    Auditoria  maria@gmail.com
1   Jose  Informatica   jose@gmail.com
2  David      Derecho  david@gmail.com
3   Ivan      Idiomas   ivan@gmail.com

In [49]:
data = {
    "calories": ["420", "380", "390"],
    "duration": ["50", "40", "45"]
}

In [50]:
df = pd.DataFrame(data)

In [51]:
print(df)

  calories duration
0      420       50
1      380       40
2      390       45

In [52]:
df = pd.DataFrame([["Maria", 27], ["David", 34], ["Ana",18], ["Jose",17]], 
                  columns = ["NOMBRE", "EDAD"])

In [53]:
print(df)

  NOMBRE  EDAD
0  Maria    27
1  David    34
2    Ana    18
3   Jose    17

In [57]:
df = pd.DataFrame(np.random.randn(4,3), columns=["a", "b", "c"])

In [58]:
print(df)

          a         b         c
0  2.200937 -0.536902  1.515451
1  0.265852  0.810109  1.881280
2  0.393868  0.740654 -0.689643
3  2.190221  0.300188 -1.697681